<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Form</title>
</head>
<body>

    <h1>Users Survey</h1>
    <fieldset>
        <div>
            <form method="POST" action="/result">
                <div>
                    <label for="userName">
                        Your Name: 
                    </label>
                    <input type="text" id="userName" name="userName" />
                </div>
                <div>
                    <label for="dojoLocation">
                        Dojo Location:
                    </label>
                    <select id="dojoLocation" name="dojoLocation">
                        <option value="heredia">Heredia</option>
                        <option value="sanJose">San Jose</option>
                        <option value="virtual">Virtual</option>

                    </select>
                </div>
                <div>
                    <label for="favoriteLanguage">
                        Dojo Location:
                    </label>
                    <select id="favoriteLanguage" name="favoriteLanguage">
                        <option value="javaScript">Java Script</option>
                        <option value="java">Java</option>
                        <option value="python">Python</option>

                    </select>
                </div>
                <div>
                    <label for="comment">
                        Comment (optional):
                    </label>
                    <textarea  id="comment" name="comment"></textarea> 
                </div>
                <button type="submit">
                    Add user
                </button>
            </form>

        </div>


    </fieldset>
</body>
</html>