<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Form</title>
</head>
<body>
    <fieldset>
        <h1>
            Submitted Indformation
    
        </h1>
        <div>
            <div>
                Name:<%= user[0].userName  %>
            </div>
            <div>
                Dojo Location:<%= user[0].dojoLocation  %>
            </div>
            <div>
                Favorite Language:<%= user[0].favoriteLanguage  %>
            </div>
            <div>
                Comment: <%= user[0].comment  %>
            </div>
    
        </div>
    
    </fieldset> 
</body>
</html>


